body {
  margin: 1rem;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.expense-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin:10px;
  background-color: rgb(125, 125, 231);
}

.input {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.expense-button:hover {
  opacity: 0.5;
}

.expense {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.expense-name,
.expense-amount {
  background-color: aquamarine;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.5rem;
}

.total-amount-container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

.paid {
  opacity: 0.5;
  text-decoration: line-through;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}